* {
    margin: 0;
    padding: 0;
}

:root {
    --bg-size: 1020px;
}

@media (max-width: 375px) {
    :root {
        --bg-size: 320px;
    }
}
body {
  background: #1d1e20;
}
main {
  width: 1440px;
  height: 1024px;
  align-items: center;
  margin-top: 40px;
  justify-content: center;
  background: #1d1e20;
}

.content {
  background: #1d1e20;
  align-items: center;
  justify-content: center;
}

header{
  align-items: center;
  justify-content: center;
  display: flex;
  width: 1440px;
  height: 44px;
  margin-top: 15px;
  background: #1d1e20;
  font-family: "Roboto";
  font-weight: 700;
  color: #08EB99;
}

.dadosUsuario  {
 align-items: center;
  width: 1440px;
  height: 130px;
  justify-content: center;
  margin-left: 40px;
  margin-top: 22px;
  background: #1d1e20;
  font-family: "Roboto";
  font-weight: Regular;
  color: white;
}

.labalDados label {
  margin-top: 45px;
}

.dadosUsuario input {
  border-radius: 5px;
  border-color: #08EB99;
  font-family: "Roboto";
  font-weight: 400;
  background: transparent;
  color: gray;
}

.servicosDesejados {
  width: 1440px;
  height: 44px;
  margin-left: 40px;
  background: #1d1e20;
  font-family: "Roboto";
  font-weight: Regular;
  color: white;
}

.servicosDesejados select {
    font-family: "Roboto";
  font-weight: Regular;
  border-radius: 5px;
  border-color: #08EB99;
  color: #08EB99;
  background: transparent;
}

.formasDePagamento{
  width: 1440px;
  height: 130px;
  margin-left: 40px;
  background: #1d1e20;
  font-family: "Roboto";
  font-weight: Regular;
  color: white;
}

fieldset{
    border: none;
}

.formasDePagamento select {
  font-family: "Roboto";
  font-weight: Regular;
  border-radius: 5px;
  border-color: #08EB99;
  color: #08EB99;
  
}

.prazoDePagamento {
    width: 1440px;
  height: 50px;
  justify-content: center;
  margin-top: 22px;
  margin-left: 40px;
  background: #1d1e20;
  font-family: "Roboto";
  font-weight: Regular;
  color: white;
}

.prazoDePagamento select {
    font-family: "Roboto";
  font-weight: Regular;
  border-radius: 5px;
  border-color: #08EB99;
  color: #08EB99;
  background: transparent;
}

hr{
    height: 1px;
    color: #08EB99;
}

.labelSelect {
    margin-right: 5px;
}

.submit input{
    width: 200px;
    height: 60px;
    font-family: "Roboto";
    font-weight: 700;
    background: #08EB99;
    color: white;
    border-color: #08EB99;
    border-radius: 10px;
    font-size: medium;
    text-align: center;
}

.submit {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 15px;
}
.submit input :hover{
    background-color: #04BF87;
}